/* =============== variables =============== */

$font-regular: co_headline_corpregular, sans-serif;
$font-bold: co_headline_corpbold, sans-serif;
$font-light: co_headline_corplight, sans-serif;

$color-input-border: #7c7c7c;
$color-input-border-light: #c4c4c4;
$color-note-grey: #959494;
$color-valid: #50de97;
$color-error: #f90b27;
$color-main-violet: #8c50a6;
$color-link_violet: #9931cc;

$input-border: solid 1px $color-input-border;
$input-border-light: solid 1px $color-input-border-light;
